<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Hello</h1> <br>
        <table style="width:100%">
        <tr>
            {% for day, schemes in weekdays['weekdays'].week.items() %}
            <th>{{ day.title() }}</th>
            {% endfor %}
        </tr>
            {% for day, schemes in weekdays['weekdays'].week.items() %}
        <tr>
                {% for i in range(schemes|length) %}
                <td>{{ schemes[i] }} </td>
        </tr>
        {% endfor %}
        {% endfor %}
        </table>
        <br>
        Schemes:
        {% for scheme in schemes%}
        <div><p> {{scheme}} </p></div>
        {%endfor%}
    </body>
</html>
